{% extends 'base.html' %}

{% block title %}
Graphs
{% endblock %}

{% block content %}
	<h1>Graphs:</h1>

	<a href="citygraph/">CO2 in Cities</a> <br> <br>
	<a href="pollutantchart/">Pollutant Concentrations</a> <br> <br>
	<a href="pm25hourlychart/">Hourly PM2.5 Concentration</a> <br> <br>
	<a href="pm25yearlychart/">Yearly PM2.5 Concentration</a> <br> <br>
	<a href="highestamount/">Highest Pollutant Concentrations</a> <br> <br>
	<a href="vehiclechart/">Pollutants by Vehicle</a> <br> <br>
	<a href="directionchart/">PM2.5 by Wind Direction</a> <br> <br>

{% endblock %}

